body{
	padding: 1em;

	> div{
		margin-top: 2em;
		padding-bottom: 2em;
		float: left;
		width: 100%;
	}
}

$color-1: #FF7806;
$color-2: #719fdd;
$color-3: #45D1B0;
$color-4: #f83b55;


h1.black{
	padding: 1em;
	background-color: #000;
}

.colors{

		.block{

			width: 25%;
			height: 18em;
			float: left;

			&:nth-child(1){
				background: $color-1
			}
			&:nth-child(2){
				background: $color-2
			}
			&:nth-child(3){
				background: $color-3
			}
			&:nth-child(4){
				background: $color-4
			}


			.logo{
			width: 120px;
			height: 120px;
			position: absolute;
			z-index: 2;

				transform: scale(4) translateY(1.3em) translateX(23%);

			margin: auto;

			.ripple{
				border-radius: 36%;
				transform: rotate(45deg);
				position: absolute;
				opacity: 1;
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transition: background .2s;
				background: rgba(white,.2);

				&:nth-of-type(1){
					width: 8px;
					height: 8px;
				}
				&:nth-of-type(2){
					width: 16px;
					height: 16px;
					transition: background .2s .1s;
				}
				&:nth-of-type(3){
					width: 24px;
					height: 24px;
					transition: background .2s .2s;
				}
				&:nth-of-type(4){
					width: 32px;
					height: 32px;
					transition: background .2s .3s;
				}
			}
		}

		&:after{
			content:attr(data-color);
			color: #fff;
			text-align: center;
			display: block;
			padding: 2em 0;
		}
	}
}
